# Clangd
.cache/
compile_commands.json

# Bin
*.o
*.so
*.exe
*out
vc

# Video
video/
*.mp4
*.mkv
*.jpg
*.png
*.mov
*.webm

# Python
__pycache__/
.*/
*coverage*

# CMake
build/
vcpkg*

# dependencies
include/argparse/

# executables
video-code

# misc
wherewasi
todo

# exeption
!.github/workflows/*
!tests/resources/test_video.mp4
!tests/resources/test_image.png